
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title> tab</title>
</head>
<body>
<hr>
<form  method="get" action="/">
    <a href="/2.1/admin/?ctrl=index">Главная</a>
    <hr>
</form>
<form name="test" method="get" action="/">

    <img src="/images/404/404.png" alt="lorem">


</form>
</body>
</html>
